<?xml version="1.0"?>
<config>
  <modules>
    <NihaoPay>
      <version>1.0.0</version>
    </NihaoPay>
  </modules>
  
  <global>
    <helpers>
      <nihaopay>
        <class>NihaoPay_Helper</class>
      </nihaopay>
    </helpers>
 
    <blocks>
      <nihaopay>
        <class>NihaoPay_Block</class>
      </nihaopay>
    </blocks>
         
    <models>
      <nihaopay>
        <class>NihaoPay_Model</class>
      </nihaopay>
      
    </models> 
    
	<payment>
		<cc>
			<types>
				<UN>
					<code>UN</code>
					<name>Unionpay</name>
					<order>0</order>
				</UN>
			</types>
		</cc>  
	</payment>  
	
  </global>

  <default>
    <payment>
      <nihaopay>
        <active>1</active>
        <model>nihaopay/paymentmethod</model>
        <order_status>processing</order_status>
        <title>NihaoPay UnionPay ExpressPay</title>
        <allowspecific>0</allowspecific>
        <payment_action>authorize_capture</payment_action>
      </nihaopay>

      <nihaopay_alipay>
        <active>1</active>
        <model>nihaopay/alipaymethod</model>
        <order_status>pending_payment</order_status>
        <title>NihaoPay AliPay</title>
        <allowspecific>0</allowspecific>
        <payment_action>sales</payment_action>
      </nihaopay_alipay>

      <nihaopay_unionpay>
        <active>1</active>
        <model>nihaopay/unionpaymethod</model>
        <order_status>pending_payment</order_status>
        <title>NihaoPay UnionPay</title>
        <allowspecific>0</allowspecific>
        <payment_action>sales</payment_action>
      </nihaopay_unionpay>

      <nihaopay_wechatpay>
        <active>1</active>
        <model>nihaopay/wechatpaymethod</model>
        <order_status>pending_payment</order_status>
        <title>NihaoPay WechatPay</title>
        <allowspecific>0</allowspecific>
        <payment_action>sales</payment_action>
      </nihaopay_wechatpay>

    </payment>
  </default>


  <frontend>
    <routers>
      <nihaopay>
        <use>standard</use>
        <args>
          <module>NihaoPay</module>
          <frontName>nihaopay</frontName>
        </args>
      </nihaopay>
    </routers>
    
     <layout>
		<updates>
			<nihaopay>
				<file>nihaopay.xml</file>
			</nihaopay>
		</updates>
    </layout>
    
  </frontend>
 
</config>